body {
    /* font-family: sans-serif; */
    font-family: monospace;
    color: #333;
}
#content {
    margin: 10% 0 13% 15%;
    width: 55%;
    /* line-height: 12px; */
}
#content h1 {
    font-size: 32px;
}
a, a:visited {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
